{% load static socialaccount account %}

<div class="column calendar">
   
   {% comment %} night/light themen, show more accounts, sign-out {% endcomment %}
   <div 
      class = "callender__top" 
      style = "border-bottom: 1px solid rgb(20,20,20,.3);"
   >
      <div>
         <a id="theme">
            <i class="fa-regular fa-moon"></i>
         </a>
         <a id="changeBackImage">
            <i class="fa-sharp fa-regular fa-images"></i>
         </a>
         <a id="open_account" >+</a>
         <a id="settings" >
            <i class="fa-solid fa-gear"></i>
         </a>
      </div>
      <a href="{% url 'base:sign-out' %}">Sign Out</a>
   </div>

    <div class="callendar__sound">
   </div>
   <div 
      class="calendar__place"
      style = "border-bottom: 1px solid rgb(20,20,20,.3)"
      >
     <div class="callendar__place__header" id="callendar__header"></div>
      <div class="calendar__place__body" id="calendar"></div>
   </div>
   <div class="callendar__place">
      <div class="inbox__tasks__apps calendar__place__bar">
         <div class="inbox__tasks__app">
            <input type="checkbox" value="text" id="text__type">
            <span>+ text</span>
         </div>
         <div class="inbox__tasks__app">
            <input type="checkbox" value="image" id="image__type">
            <span>+ image</span>
         </div>
      </div>
      <div class="callendar__place__content">
         <!-- <input type="file" id="upload_motivate_image"  /> -->
         <!-- <img src="/static/media/{{user.profile.video}}" alt=""> -->
      </div>
      <div class="callendar__place__content2">
         
      </div>
   </div> 
   <div class="callender__panel">
     <div class="callender__panel__top">
         <a id="NatureSounds">
            00 : 00
         </a>
   
        <div class="callendar__window" style="
        display:none; 
        opacity: 0; 
        background-color: rgb(248, 248, 255);
        ">
            <div class="callendar__window__timer">
               <div class="window__timer">
                  <input 
                     type="number" 
                     id="getMinutes" 
                     placeholder="00" 
                     style="color: #202020" />
                  <input 
                     type="number" 
                     id="getSeconds" 
                     placeholder="00" 
                     style="color: #202020" />
               </div>
               <button class="btn" id="runTimer" ><i class="fa-solid fa-play" ></i></button>
               <button class="btn" id="restartTime" ><i class="fa-solid fa-arrow-rotate-left"></i></button>
            </div>
            <div class="callendar__window__music">
               <audio src="{% static '/media/sounds/09-Meydan-Contemplate-the-stars.mp3' %}" id="NatureSoundsAudio" type="audio/mpeg" controls></audio>
               <select name="" id="NatureSoundsSelect" style="color: #202020">
                  <option value="{% static '/media/sounds/09-Meydan-Contemplate-the-stars.mp3' %}">Sound 1</option>
                  <option value="{% static '/media/sounds/Evening-Improvisation-with-Ethera.mp3' %}">Sound 2</option>
                  <option value="{% static '/media/sounds/jackmichaelking__gentle-ocean-waves-birdsong-and-gull.mp3' %}">Sound 3</option>
                  <option value="{% static '/media/sounds/Rain-Sound-and-Rainforest.mp3' %}">Sound 4</option>
               </select>
            </div>
         </div> 
   
            <a id="FocusMode" title = 'F'>Focus mode</a>
         </div>   
         <div class="callender__panel__top">
            <a id="FullScreen" title = 'F11'>Full Screen</a>
            <a id="ChillMode" title = 'C'>Chill mode</a>
         </div>
      </div> 
   </div>
   {{service}}

<div class="accounts" style='display: none;'>
   <div class="accounts__header">
      <h3>Added Accounts</h3>
      <button class="btn close__accounts"><i class="fa-solid fa-xmark"></i></button>
   </div>
   <div class="accounts__body">
   {% if user.socialaccount_set.all %}
      {% for account in user.socialaccount_set.all %}
        {% if account.provider == 'google' %}
            <i class="fa-brands fa-google icon" ></i>
         {% elif account.provider == 'github' %}
         <i class="fa-brands fa-github icon"></i>
         {% elif account.provider == 'trello' %}
         <i class="fa-brands fa-trello"></i>
         {% elif account.provider == 'facebook' %}
         <i class="fa-brands fa-square-facebook"></i>
         {% elif account.provider == 'github' %}
         <i class="fa-brands fa-github"></i>
         {% endif %} 
      {% endfor %}
   {% else %}
      <p>No connected accounts.</p>
   {% endif %}
      <p>{{access_token}}</p>
   </div> 
   <div class="accounts__header">
      <h3>Add Other Accounts</h3>
      <span></span>
   </div>
   <div class="accounts__body">
     {% comment %}
       <a class="login" href="{% provider_login_url 'google' %}"><i class="fa-brands fa-google"></i></a>
       <a class="login" href="{% provider_login_url 'telegram' %}"><i class="fa-brands fa-telegram"></i></a>
       <a class="login" href="{% provider_login_url 'github' %}"><i class="fa-brands fa-github"></i></a>
       <a class="login" href="{% provider_login_url 'facebook' method='oauth2' %}"><i class="fa-brands fa-facebook"></i></a>            
     {% endcomment %}
   </div>
   <a href="{% url 'socialaccount_connections' %}">Connect Social Account</a>
</div>

<div class="settings" style='display: none;'>
   <div class="accounts__header">
      <h3>Settings</h3>
      <button class="btn close__settings"><i class="fa-solid fa-xmark"></i></button>
   </div>
   <form class="accounts__body" method="POST" id="settingsForm">   
      {% csrf_token %}
      <div class="account__body__line">
         <label>Email:</label>
         <input 
            type="email" 
            name="email"
            placeholder="Enter your email..."
            value="{{ request.user.email }}" />
      </div>
      
      <div class="account__body__line">
         <label>Password: </label>
         <input 
            type="password" 
            name="password"
            placeholder="Enter a new password..." />
      </div>
      <div class="account__body__line">
         <button class="btn">Save</button>
         <a class="btn btn--del" href="/delete-account">Delete Account</a>
      </div>
      <div class="account__body__docs">
         <a href="{% url 'privacy' %}">Privacy Police</a>
         <a  href="{% url 'terms' %}">Terms of use</a>
        <a href="{% url 'delete-instructions' %}" >Delete instructions</a>
      </div>
   </form>
</div>

<script src="{% static 'js/components/calendar.js' %}" ></script>
<script src="{% static 'js/components/settings.js' %}" ></script>
<script src="{% static 'js/components/changeTheme.js' %}" ></script>
<script src="{% static 'js/components/focusMode.js' %}" ></script>
<script src="{% static 'js/components/music.js' %}" ></script>
<script src="{% static 'js/accounts.js' %}" ></script>
<script src="{% static 'js/components/fullscreen.js' %}" ></script>

<script src="{% static 'js/components/showForm.js' %}" ></script>
<script src="{% static 'js/components/chill_mode.js' %}" ></script>