{% load static socialaccount account %}

<div class="column calendar">
   <h3 class="column__title">Callendar</h3>
</div>

{% comment %} <script src="{% static 'js/components/calendar.js' %}" ></script>
<script src="{% static 'js/components/settings.js' %}" ></script>
<script src="{% static 'js/components/changeTheme.js' %}" ></script>
<script src="{% static 'js/components/focusMode.js' %}" ></script>
<script src="{% static 'js/components/music.js' %}" ></script>
<script src="{% static 'js/accounts.js' %}" ></script>
<script src="{% static 'js/components/fullscreen.js' %}" ></script>

<script src="{% static 'js/components/showForm.js' %}" ></script>
<script src="{% static 'js/components/chill_mode.js' %}" ></script> {% endcomment %}