{% load static socialaccount account %}

<div class="column calendar">
   <!-- _________ SETTINGS __________ -->
   <div class="calendar__settings">
      <button id="changeTheme">
         <i class="fa-regular fa-moon"></i>
      </button>
      <button id="addMoreAccounts" class='open__settings'>
         +
      </button>
      <button class='open__settings'>
         <i class="fa-solid fa-gear"></i>
      </button> 
      <a href="{% url 'base:sign-out' %}">
         <i class="fa-solid fa-right-from-bracket"></i>
      </a>
      <img 
         {% if request.user.profile.avatar.url %}
            src="/static/{{ request.user.profile.avatar }}"
         {% else %}
            src='https://images.pexels.com/photos/1086584/pexels-photo-1086584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'
         {% endif %}
         alt='avatar' 
         class='calendar__settings__avatar open__settings'
         id="openSettings"  />
   </div>

   <!-- _________ CALENDAR __________ -->
   <div class="calendar__calendar">
      <div class="calendar__header" id="calendar_header"></div>
      <div class="calendar__body" id="calendar_body"></div>
   </div>

   <!-- _________ MOTIVATION __________ -->
   <div class="calendar__motivation">
      <div class="calendar__motivation__type">
         <select name="motivation__type" id="motivation_type">
            <option value="text">text</option>
            <option value="image">image</option>
         </select>
      </div>
      <div class="calendar__motivation__place">
         <textarea name="" id="">THIS CAN BE YOUR MOTIVATION OR USEFUL TEXT</textarea>
      </div>
   </div>

   <!-- _________ FOOTER __________ -->
   <div class="calendar__footer">
      <div class="calendar__footer__line">
         <button id="NatureSounds">00 : 00</button>


        <div class="callendar__window" style="
         display:none; 
         opacity: 0; 
        ">
            <div class="callendar__window__timer">
               <div class="window__timer">
                  <input 
                     type="number" 
                     id="getMinutes" 
                     placeholder="00" 
                     />
                  <input 
                     type="number" 
                     id="getSeconds" 
                     placeholder="00" 
                     />
               </div>
               <button class="btn" id="runTimer" ><i class="fa-solid fa-play" ></i></button>
               <button class="btn" id="restartTime" ><i class="fa-solid fa-arrow-rotate-left"></i></button>
            </div>
            <div class="callendar__window__music">
               <audio src="{% static '/media/sounds/09-Meydan-Contemplate-the-stars.mp3' %}" id="NatureSoundsAudio" type="audio/mpeg" controls></audio>
               <select name="" id="NatureSoundsSelect" >
                  <option value="{% static '/media/sounds/09-Meydan-Contemplate-the-stars.mp3' %}">Sound 1</option>
                  <option value="{% static '/media/sounds/Evening-Improvisation-with-Ethera.mp3' %}">Sound 2</option>
                  <option value="{% static '/media/sounds/jackmichaelking__gentle-ocean-waves-birdsong-and-gull.mp3' %}">Sound 3</option>
                  <option value="{% static '/media/sounds/Rain-Sound-and-Rainforest.mp3' %}">Sound 4</option>
               </select>
            </div>
         </div> 

         <button id="focusMode">Focus Mode</button>
      </div>
      <div class="calendar__footer__line">
         <button id="fullScreen">Full Screen</button>
         <button id="chillMode"> Chill Mode</button>
      </div>
   </div>

</div>

<div class="settings" style='display: none; opacity: 0'>
   <div class="settings__content">
      <div class="accounts__header">
         <img src="/static/media/logos/jesk.svg" alt="jesk" class="logo">
         <button class="close__settings"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <h2>Added accounts</h2>
      <div class="accounts__body">
      {% if user.socialaccount_set.all %}
         {% for account in user.socialaccount_set.all %}
         {% if account.provider == 'google' %}
               <i class="fa-brands fa-google" ></i>
            {% elif account.provider == 'github' %}
            <i class="fa-brands fa-github"></i>
            {% elif account.provider == 'trello' %}
            <i class="fa-brands fa-trello"></i>
            {% elif account.provider == 'facebook' %}
            <i class="fa-brands fa-square-facebook"></i>
            {% elif account.provider == 'github' %}
            <i class="fa-brands fa-github"></i>
            {% endif %} 
         {% endfor %}
      {% else %}
         <p>No connected accounts.</p>
      {% endif %}
         <p>{{access_token}}</p>
      </div> 
      <h2>Add other accounts</h2>
      <a href="{% url 'socialaccount_connections' %}">Connect Social Account</a>
   </div>
</div>

<div class="settings" style='display: none; opacity: 1'>
   <div class="settings__content">
      <div class="accounts__header">
         <img src="/static/media/logos/jesk.svg" alt="jesk" class="logo">
         <button class="close__settings"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <h2>Settings</h2>
      <form class="accounts__body" method="POST" id="inboxSettingsForm">   
         {% csrf_token %}
         <div class="account__body__checkbox">
            <label>Show Gmail letters:</label>
            <input 
               type="checkbox"
               name="show_calendar"
               class="check__input"
               id = "ShowGmailLetters"
               value='Gmail'
               checked />
         </div>
         <div class="account__body__checkbox">
            <label>Show Google Todos:</label>
            <input 
               type="checkbox"
               name="show_calendar"
               class="check__input"
               id = "ShowGoogleTodos"
               value='Google_Todo'
               checked />
         </div>
         <div class="account__body__checkbox">
            <label>Show Google Callendar events:</label>
            <input 
               type="checkbox"
               name="show_calendar"
               class="check__input"
               id = "ShowGoogleCallendar"
               value='Google_Event'
               checked />
         </div>
         <div class="account__body__checkbox">
            <label>Show Youtube notifications:</label>
            <input 
               type="checkbox"
               name="show_calendar"
               class="check__input"
               value='YouTube'
               checked />
         </div>
         
         <div class="account__body__line">
            <button class="btn">Save</button>
         </div>
      </form>
   </div>
</div>


<div class="settings" 
      style='display: none; opacity: 1; top: 6vh' 
      id='inboxSettings'>
   <div class="settings__content">
      <div class="accounts__header">
         <img src="/static/media/logos/jesk.svg" alt="jesk" class="logo">
         <button class="close__settings"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <h2>Settings</h2>
      <form class="accounts__body" method="POST" id="settingsForm">   
         {% csrf_token %}
         <div class="account__body__line">
            <label>Email:</label>
            <input 
               type="email" 
               name="email"
               placeholder="Enter your email..."
               value="{{ request.user.email }}" />
         </div>
         
         <div class="account__body__line">
            <label>Password: </label>
            <input 
               type="password" 
               name="password"
               placeholder="Enter a new password..." />
         </div>
         <div class="account__body__line">
            <label>Show Widgets: </label>
            <input 
               type="checkbox"
               name="show_calendar"
               class="check__calendar check__input" />
         </div>
         <div class="account__body__line">
            <label>Upload a new avatar: </label>
            <input 
               type="file"
               name="avatar"
               class="upload__avatar" />
         </div>
         <div class="account__body__checkbox">
            <button class="btn">Save</button>
            <a class="btn btn--del" href="/delete-account">Delete Account</a>
         </div>
         <div class="account__body__docs">
            <a href="{% url 'privacy' %}">Privacy Police</a>
            <a  href="{% url 'terms' %}">Terms of use</a>
           <a href="{% url 'delete-instructions' %}" >Delete instructions</a>
         </div>
      </form>
   </div>
</div>

{% comment %} 
<script src="{% static 'js/components/settings.js' %}" ></script>
<script src="{% static 'js/components/changeTheme.js' %}" ></script>
<script src="{% static 'js/components/showForm.js' %}" ></script> {% endcomment %}

<script src="{% static 'js/components/calendar.js' %}" ></script>
<script src="{% static 'js/components/fullscreen.js' %}" ></script>
<script src="{% static 'js/components/focusMode.js' %}" ></script>
<script src="{% static 'js/components/chill_mode.js' %}" ></script>
<script src="{% static 'js/components/music.js' %}" ></script>