{% load static %}
<div class="column today"  style="">
   <h3 class="column__title">Today</h3>
   
   <div class="today__work" style="height: 100%">
      {% autoescape off %}
      <div class='today__work__notfound'>
         <h2>Messages Not Found</h2>
      </div>
      {% endautoescape %}
   </div>

   <form class="inbox__backlog__notes inbox__today__notes" method="POST" id='create-today-note-form'>
      {% csrf_token %}
      
      <div class="inbox__add__tasks">

         <div class="inbox__backlog__notes__header">
            <div class="pointer_up inbox__tasks__menu__button">
               <span></span>
               <span></span>
            </div>
            <h3>today's notes +</h3>
         </div>  

         <div class="inbox__backlog__notes__form">
            <input type="text" name="message" placeholder="Enter your message..." />
            <button type="submit"></button>
         </div>
      </div>
      <div  class="inbox__backlog__notes__show" 
            id="today-notes-list" 
            style="height: 12vh" ></div>
   </form>  
</div>

<script src="{% static 'js/API/crudTodayNotes.js' %}" ></script>
