.page {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.page img {
    width: 100vw;
    height: 100vh;

    position: relative;
}
.page form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 40vw;
    padding: calc((1vh + 1vw) * 1.2) calc((1vh + 1vw) * 1.2) calc((1vh + 1vw) * 3.4);
    border-radius: 0 0 0 calc((1vh + 1vw) * 2.8);
    background-color: #2F2CAB;
    position: absolute;
    top: 22vh;
    left: 30vw;
    right: 30vw;
    gap: 2vh ;
}
.page form h2 {
    font-family: var(--bayerSans);
    /* font-size: 42px; */
    font-size: calc((1vh + 1vw) * 1.6);
    font-weight: 400    ;
    padding: calc((1vh + 1vw) * .2) 0 calc((1vh + 1vw) * 1.8);
}
.page__form___comp, .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.page__form__logo {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.page__form__logo .logo {
    width: calc((1vh + 1vw) * 1.2);
    height: calc((1vh + 1vw) * 1.2);
} 

.page__form___comp {

}
.buttons {
    justify-content: space-around;
    flex-direction: row;
    width: 80%;
}
input {
    font-size:  calc((1vh + 1vw) * .7);
    background-color: var(--white);
    border-radius: calc((1vh + 1vw) * .4);
    padding: calc((1vh + 1vw) * .8) calc((1vh + 1vw) * .8);
    width: 100%;
    max-width: 30vw;
    margin-bottom: calc((1vh + 1vw) * .8);
    color: var(--primary);
}
input:hover {
    box-shadow: 6px 6px 1px 1px var(--black);
}
input:focus {
    box-shadow: 6px 6px 1px 1px var(--black);
}
.buttons a {
    font-size: calc((1vh + 1vw) * .7);
    color: rgb(254,254,254,.9)
}
.buttons a:hover {
    color: var(--white);
}
.page__form__another {
    position: absolute;
    bottom: 5vh;
    font-size: calc((1vh + 1vw) * .7) ;
}