.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 5vh  5vw;

    width: 100vw;
    height: 100vh;
}
.page__delete {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 600px;
    width: 100%;    
    padding: 8vh 8vw;

    border: 2px solid rgb(254,254,254,.2);
    border-radius: 10px 10px 10px 60px;
}
.page__delete .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}
.buttons .btn {
    font-size: calc((1vh + 1vw) * .9);
    padding:  calc((1vh + 1vw) * .8)  calc((1vh + 1vw) * 2.4);
}
.buttons .btn:last-child {
    background-color: var(--black);
    color: var(--gray);
}
