.page {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 100vh;

   overflow: hidden;
   position: relative;
}
.page__left {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   width: 100vw;
   height: 100vh;
   z-index: -10;

   overflow: hidden;
   position: absolute;
}
.page__left img {
   object-fit: cover;
   height: 100vh;
   width: 100%;
}
.page__left__mask {
   display: block;
   content: "";
   background-color: rgb(248, 248, 255, 1);
   width: 100vw;
   height: 100vh;
   position: absolute;
}
.page__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
}

/* ? one column */
.column {
   display: flex;
   justify-content: start;
   align-items: center;
   flex-direction: column;

   overflow: hidden;
   width: 100%;
   height: 100vh;
}
.column__title {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 34px;
}

/* TODO: Inbox for messages, 
   TODO:           notifications, 
   TODO:           buttons for show and reply,
   TODO:           tasks */
.inbox {
   width: 100%;
   max-width: 25%;
   transition: all .3s linear;
}
/* TODO:  Show messages, today notes */
.today {
   width: 100%;
   max-width: 50%;

   transition: all .3s linear;
}

/* TODO:  Sign Out, UserName, Include Social Medias and other */
.calendar {
   width: 100%;
   max-width: 25%;
   transition: all .3s linear;
   position: relative;
}

/*  ? notifications */
.column__notifications {
   display: flex;
   justify-content: start;
   align-items: start;
   flex-direction: column;

   width: 100%;
   padding: 0 10px 10px;
   overflow-y: auto;
   height: 70vh;
   transition: all .3s linear;
}

/*  ?  notification */
.notification {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: start;
   flex-direction: column;
   margin-bottom: 5px;
}
/*  ? notification header*/
.notification__header {
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 10px;
}
.notification__header img {
   width: 16px;
   height: 16px;
}
.notification__header span {
   font-size: 12px;
   font-weight: bold;
}
.notification__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   gap: 5px;
}
.notification__message {
   display: flex;
   justify-content: space-between;
   align-items: start;
   flex-direction: column;

   border-radius: 10px 10px 10px 0px ;
   padding: 4px 8px;
   font-size: 14px;
   max-width: 80%;
   width: 100%;
   background-color: rgb(188, 143, 143, .1)
}
.notification__message__time {
   font-weight: bold;
   font-size: 13px;
   width: 100%;
   text-align: end;
}
.notification__links {
   display: flex;
   justify-content: start;
   flex-wrap: wrap;
   max-width: 50px;
   width: 100%;
}
.notification__links > a {
   font-size: 10px; 
   border-radius: 10px;
   padding: 2px 4px;
   margin: 2px;
   transition: all .3s linear;
}
.notification__links > a:hover {
   background-color: rgb(142,191,254, .4);
   box-shadow: 0 0 5px 1px rgb(142,191,254, .5);
}
.notification__text {
   display: none;
}
.notification__sender {
   display: none;
}

/* TODO: Add A New Task */
.inbox__tasks {
   width: 100%;
}
/* ? where do i need to send your message */
.inbox__tasks__apps {
   width: 100%;
   gap:10px;
   padding: 8px 6px;

   display: flex;
   justify-content: start;
   align-items: center;
}
.inbox__tasks__app {
   font-size: 16px;
   padding: 4px 6px ;
   position: relative;
   border-radius: 10px;
   max-width: 80px;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   height: 24px;
   transition: all .3s linear;
   cursor: pointer;
}
.inbox__tasks__app input {
   position: absolute;
   background-color: rgb(188, 143, 143, .3);
   width: 100%;
   z-index: 3;
   opacity: 0;
   height: 24px;
}
.inbox__tasks__app:hover {
   background-color: rgb(142,191,254, .5);
   color: rgb(248, 248, 255);
   cursor: pointer;
}
.inbox__tasks__app span {
   width: 100%;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 80px;
   width: 100%;
   height: 24px;
   transition: all .3s linear;
   gap: 5px;
}
.inbox__tasks__app span img {
   width: 18px;
   height: 18px;
}
.inbox__tasks__app__icon {
   font-size: 20px;
}
.inbox__tasks__app input:hover + span {
   color: rgb(248, 248, 255);
}
.inbox__tasks__app input:checked + span {
   background-color: rgb(142,191,254, .8);
}

/* ? add tasks */
.inbox__add__tasks {
   padding: 0 6px;
}
.inbox__add__tasks h3 {
   font-size: 18px;
   margin-bottom: 4px;
   display: flex;
   align-items: center;
   justify-content: start;
}
.inbox__add__tasks__form {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.inbox__add__tasks__form input {
   background-color: rgb(188, 143, 143, .3);
   font-size: 16px;
   width: 100%;
   padding: 8px 6px ;
   border-radius: 10px;
   transition: all .3s linear;
}
.inbox__add__tasks__form input:focus {
   background-color: rgb(188, 143, 143, .5);
}
.inbox__add__tasks__notification__number {
   font-size: 16px;
   border-radius: 10px;
   padding: 0px 6px;
   margin-right: 4px;
   background-color: rgba(188,143,143,.4);
}
.inbox__tasks__menu__button {
   margin: 0 6px;   
}
/* show tasks  */
.inbox__show__tasks {
   overflow-y: auto;
   width: 100%;
   height: 4vh;
   min-height: 5vh;
   padding: 0px 6px;
   transition:  all .3s linear;
}

/* show one task */
.note {
   padding: 4px 8px;
   background-color: rgba(188,143,143,.2);
   border-radius: 10px;
   margin: 6px 0;
   font-size: 14px;
   display: flex;
   justify-content: space-between;
   align-items: start;
   width: 100%;
   gap: 6px;
}
.note__delete {
   border-radius: 100%;
   font-size: 14px;
   font-weight: 400;

   border: 1px solid rgb(20,20,20,.4);
   transition:  all .3s linear;
   color: rgb(20,20,20,.4);

   padding: 2px;
   transition:  all .3s linear;
   cursor: pointer;
}
.note__delete:hover {
   color: rgb(20,20,20,.8);
   border-color: rgb(20,20,20,.8);
}

/* ? Today */
.today__work {
   width: 100%;
   height: 76vh;
   
   overflow:scroll;

   padding: 10px;
   transition: all .3s linear;
   position: relative;
}

/* calendar top */
.callender__top {
   display: flex;
   justify-content: space-between;
   height: 34px;
   align-items: center;
   width: 100%;
   padding: 0 4px;
   gap:5px;
   transition: all .3s linear;
}
.callender__top span {
   font-size: 14px;
   white-space: pre-wrap;  
}
.callender__top a {
   font-size: 16px;
   padding: 4px 6px;
}

.callender__top div {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
}
.callender__top a {
   background-color: rgb(188, 143, 143, .3);
   border-radius: 10px;
   padding: 2px 8px;
   cursor: pointer;
   transition: all .3s linear;
}
.callender__top a:hover {
   background-color: rgb(142, 191, 254, .3);
}
.callendar__sound {
   transition: all .3s linear;
}
.today__work__notfound {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60vh;
   width: 100%;
   position: absolute;
   opacity: .3;
   left: 0;
   overflow: auto !important;
   font-size: 24px;
   transition: all .3s linear;
   z-index: 1;
   overflow-x: scroll;
   overflow-y: scroll;
}

/* ? calendar */
.calendar__place {
   width: 100%;
   padding: 4px 0;
   transition: all .3s linear;
}
.callendar__place__header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 4px;
   padding: 0 4px;
   font-size: 16px;
}
.callendar__place__header left, right, h3 {
   transition: all .3s linear;
}
left, right {
   font-size: 22px;
   padding: 2px;
}
left:hover, right:hover {
   background-color: rgb(188, 143, 143, .3);
   border-radius: 4px;
   cursor: pointer;
}
.calendar__place__body {
   width: 100%;
}
table {
   width: 100%;
   appearance: none;
   padding: 0 4px;
}
.first_tr {
   background-color: rgb(188, 143, 143, .3);
}
th {
   font-size: 14px;
}
td {
   font-size: 16px;
   padding: 2px 6px;
   text-align: center;
   transition: all .3s linear;
   border-radius: 4px;
   cursor: pointer;
}
td:hover {
   background-color: rgb(188, 143, 143, .3);
}

.accounts, .settings {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
   width: 54vw;
   background-color: rgb(248, 248, 255);
   position: fixed;
   padding: 4vh 4vw;

   left: 23vw;
   right: 23vw;
   z-index: 10;
   top: 20%;
   border-radius: 10px;
   box-shadow: 0 0px 10px 100vh rgb(0,0,0,.8);
}
.accounts__header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.accounts__header button {
   font-size: 18px;
}
.accounts__header button:hover {
   border-color: rosybrown;
}
.accounts__body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   flex-wrap: wrap;
   margin: 10px 0;
   gap: 10px;
}
.accounts__body i {
   font-size: 32px;
   transition: all .3s linear;
   cursor: pointer;
}
.accounts__body i:hover {
   color: rosybrown;
}
.accounts a:hover {
   color: rosybrown;
}

/* callender bottom panel */
.callender__panel {
   width: 100%;
   position: absolute;
   bottom: 0;
}
.callender__panel__top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   position: relative;
}
.callendar__window {
   border: 1px solid rgb(20,20,20,.3);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   padding: 4px;
}
.callender__panel__top .callendar__window {
   width: 100%;
   position: absolute;
   height: 150px;
   top: -150px;
   background-color: rgb(248, 248, 255);
}
.callendar__window__timer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   gap: 2px;
   margin-bottom: 6px;
}
.window__timer {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4px;
}
.callendar__window__music {
   width: 100%;
}
.callendar__window__music select {
   width: 100%;
   padding: 6px 10px;
   background-color: rgb(188, 143, 143, .1);
   border-radius: 6px;
   font-size: 16px;
}
.callendar__window__music select option {
   padding: 4px ;
   font-size: 16px;
}
.callendar__window__music audio {
   appearance: none;
   background-color: rgb(188, 143, 143, .1);
}
.callendar__window__timer input {
   max-width: 60px;
   width: 100%;
   height: 100%;
   padding: 10px 4px;
   margin: 0 2px;
   font-size: 16px;
   background-color: rgb(188, 143, 143, .1);
   border-radius: 6px;
   transition: all .3s linear;
}
.callendar__window__timer input:hover, .callendar__window__timer input:focus {
   background-color: rgb(188, 143, 143, .3);
}
.callender__panel__top a {
   /* background-color: rgb(188, 143, 143, .3); */
   background-color: #a4969a;
   cursor: pointer;
   width: 100%;
   transition: all .3s linear;

   border-radius: 10px;
   padding: 10px 2px;
   font-size: 16px;
   margin: 2px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.callender__panel__top a:hover {
   /* background-color: rgb(142, 191, 254, .3); */
   background-color: #95a5bb;
}
.callendar__window {
   display: none;
   opacity: 0;
}
#upload_motivate_image {
   width: 100%;

}

textarea {
   width: 100%;
   background-color: transparent;
   padding: 6px;
   font-size: 16px;
   min-width: 100%;
   max-width: 100%;
   min-height: 80px;
   max-height: 120px;
   height: 100%;
   transition: all .3s linear;
   border-radius: 10px;
}
textarea:focus {
   background-color: rgb(188, 143, 143, .1);
}
.callendar__place__content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   padding: 4px;
}
.motivateImage {
   max-width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 4px;
   margin-top: 4px;
}

/* form when you try to delete message */
.note__form {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   position: fixed;

   width: 40vw;
   border-radius: 10px;

   background-color: rgb(248, 248, 255);

   bottom: 30vh;
   right: 30vw;
   left: 30vw;

   padding: 8vh 6vw;
   box-shadow: 0 0px 10px 100vh rgb(0,0,0,.8);
   z-index: 10;

   transition: all .3s linear;

   display: none;
   opacity: 0;
}
.note__form h2 {
   margin-bottom: 14px;
}
.note__form div {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.account__body__line {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   gap: 10px;
}
.account__body__line input {
   width: 100%;
   padding: 10px;
   margin-bottom: 2%;
   border: 1px solid rgb(20,20,20,.2);
   border-radius: 6px;
   margin-top: 4px;
   width: 100%;
   font-size: 16px;

   transition: all .3s linear;
   max-width: 400px;
}
.account__body__line input:hover, .account__body__line input:focus {
   border-color: #202020;
}
/* callendar panel for focus mode  */
.callender__panel__focusmode {
   position: fixed;
   max-width: 40%;
   top: -4px;
   right: 0;
   height: 40px;
   z-index: 10;

   padding: 0 6px;

   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0 0 0 10px;
}