@import './variables.css';

body {
    position: relative;
    overflow-y: auto;
    background-color: var(--darkblue);
    background: linear-gradient(105.79deg, #3953BB 0.29%, #15235A 66.68%, #132156 100%);
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}

.header {
    background-color: var(--lightblue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: calc((1vw + 1vh) * 2);
    padding: 1.5% 5%;
    position: absolute;
    top: 2.5vh;
    z-index: 1;
}
.header__left {

}
.header__menu, .header__right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--bayerSans);
    font-size: calc((1vw + 1vh) * 1.1);
    letter-spacing: 2px;
}
.header__menu {
    margin-left: 15%;
    gap: calc((1vw + 1vh) * 1);
}
.header__menu a {
    color: var(--white);
    transition: all .3s linear;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc((1vw + 1vh) * 1);
    letter-spacing: .5px;
    gap: 4px;
}
.header__menu a img{
    width: calc((1vw + 1vh) * .5);
}
.header__menu a::after {
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 2px;
    transition: all .3s linear;
    bottom: -2px;
}
.header__menu a:hover::after {
    width: 100%;
}
.header__right {
    gap: calc((1vw + 1vh) * .8);
}
@media screen and (max-width: 500px) {
    .header {
        display: none;
    }
}

/* !: Intro */
.intro {
    background-color: var(--darkblue);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5%;
    position: relative;
}
.intro .intro__top__line {
    display: block;
    content: '';
    width: 92%;
    height: 3vh;
    border-top: 1.6px solid var(--white);
    flex-shrink: 0;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 19%;
    stroke-width: 2px;
    stroke: var(--white);
}
.intro__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;    
    position: absolute;
    top: 27%;
    left: 4%;
}
.intro__left__back__line__one {
    display: block;
    content: '';
    width: 1.6px;
    height: 45vh;
    background-color: #c9c7c7;
    /* background-color: rgba(255, 255, 255, .6); */
    position: absolute;
    z-index: 10;
    border-radius: 4px;
}
.intro__left__line__one, .intro__left__line__two {
    display: block;
    background-color: white;
    width: 100%;
    height: 0%;
    transition: all .5s linear;
    border-radius: 4px;
}
.intro__left__back__line__two {
    display: block;
    content: '';
    width: 1.6px;
    height: 546vh;
    background-color: #c9c7c7; 
    /* background-color: rgba(255, 255, 255, .6); */
    position: absolute;
    top: 62vh; 
    z-index: 10; 
    border-radius: 4px;
}
.intro__left__icons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    top: 48vh;  
}
.intro__left__icons img {
    width: calc((1vw + 1vh) * 1.3);
    height:  calc((1vw+1vh)*1);
    opacity: .95;
}
.intro__item {
    background-color: var(--lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4% 6%;
    border-radius: 4px 4px 4px 100px;
    /* box-shadow: 0 0 30px 10px rgb(0,0,0,.1); */
    max-width: 70%;
    filter: drop-shadow(0px 0px 42px rgba(0, 0, 0, 0.20));
    margin-top: 10%;
}
.intro__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3%;
    width: 100%;
    position: relative;
}
.intro__top h2 {
    font-size: calc((1vw + 1vh) * 2.7);
    font-weight: 400;
    font-family: var(--bayerSans);
    letter-spacing: 2px;
    margin-bottom: 2.5%;

    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}
.intro__top p {
    font-family: var(--inter);
    margin-top: 2%;
    font-size: calc((1vw + 1vh) * 1.2);
    max-width: 60%;
    text-align: center;
    line-height: calc((1vw + 1vh) * 1.5);
}
.intro__top p b {
    font-family: var(--bayerSans);
    font-weight: 400;
}
.intro__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 4% 0;
}
.intro__help {
    position: absolute;
    width: calc((1vw + 1vh) * 9.4);
    bottom: -10%;
    right: 4%;
}
.butn {
    font-size: calc((1vw + 1vh) * .8);
    border-radius:   0 0 0 18px;
    background-color: var(--white);
    color: var(--black);
    font-family: var(--bayerSans);
    padding: 6px 14px 6px 18px;
    max-width: 160px;
    letter-spacing: 2px;
}
.header__right .butn:last-child {
    border: 3px solid var(--white);
    background-color: transparent;
    color: var(--white);
    padding: 4px 12px 4px 16px;
}
.intro__buttons .butn:first-child {
    font-size: calc((1vw + 1vh) * 1);
}
.butn:hover {
    background-color: black;
    color: var(--white);
}
.butn-bord {
    border: 3px solid var(--white);
    background-color: transparent;
    color: var(--white);
}
.intro__bottom {
    margin-top: 2%;
    font-size: calc((1vw + 1vh) * .8);
}
.butn-bord:hover {
    background-color: var(--white);
    color: var(--black);
}

@media screen and (max-width: 500px) {
    .intro {
        padding: 2% 4%;
    }
    .intro__item {
        padding: 8% 2%;
        border-radius: 4px 4px 4px 40px;
        max-width: 100%;
    }
    .intro .intro__top__line {
        display: none;
    }
    .intro__top h2 {
        margin-bottom: 1%;
        font-size: calc((1vw + 1vh) * 3.8);
    }
    .intro__top p {
        font-size: calc((1vw + 1vh) * 1.8);
        max-width: 100%;
        margin: 4%;
        line-height: calc((1vw + 1vh) * 1.9);
    }
    .intro__buttons {
        flex-direction: column;
        gap: 10px;
        margin: 4% 0;
        width: 100%;
        max-width: 90%;
    }
    .intro__buttons .butn:first-child {
        font-size: calc((1vw + 1vh) * 2);
    }
    .butn {
        max-width: 100%;
        width: 100%;
        text-align: center;
        font-size: calc((1vw + 1vh) * 1.8);
        padding: 10px 22px 10px 30px;
    }
    .intro__help {
        bottom: -7%;
        right: -10%;
        width: calc((1vw + 1vh) * 11.4);
    }
    .intro__bottom {
        font-size: calc((1vw + 1vh) * 1.4);
    }
    .intro__left {
        display: none;
    }
}

/* !: About */
.about {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 106vh;
    background-color: #081444;
    padding: 2% 0;
    position: relative
}
.about__title {
    font-family: var(--bayerSans);
    font-size: calc((1vw + 1vh) * 3.8);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: end;
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    line-height: 63.25%; /* 63.25px */
    letter-spacing: -0.55px;
    height: 15vh;
}
.about__content {
    display:grid;
    grid-template-columns:65% 30%;
    width: 100%;
    gap: 10px;
    margin-left: 5%;
    padding: 2%;
    align-items: center;
    justify-content: center;
    height: 85vh;
    margin-bottom: 4%;
}
.about__left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
.about__left .about__help {
    position: absolute;
    top: 2%;
    width: 11%;
    left: 21%;
}
.about__left .about__left__laptop {
    height: 80vh;
    position: absolute;
}
.about__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0;
    height: 100%;
}
.about__right__content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    /* background-color: #111D4B; */
    background: rgba(255, 255, 255, 0.04);
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    border-radius: 13px;
    padding: 6% 10%;
    margin-left: -20%;
    margin-right: 20%;
    z-index: 8;
    margin-bottom: 4%;
    box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.39);
}
li {
    list-style-type: none;
}
.about__right__content h2 {
    font-size: calc((1vw + 1vh) * 1.7);
    margin-bottom: 2px;
}
.about__right__content__p {
    font-weight: 800;
    font-size: 16px;
    margin: 14px 0;
}
.about__right__content ul li {
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
.about__right__content ul li img {
    width: 14px;
    height: 14px;
    margin-top: 4px;
}
.about__right__content ul li p {
    font-size: 16px;
}

@media screen and (max-width: 500px) {
    .about__title {
        font-size: calc((1vw + 1vh) * 5.8);
        height: 10vh;
        text-align: center;
    }
    .about__left .about__left__laptop {
        height: 50vh;
        top: 16%;
    }
    .about__left .about__help {
        top: 10%;
        width: 25%;
        left: 11%;
    }
    .about__right__content h2 {
        font-size: calc((1vw + 1vh) * 2.4);
    }
    .about__right__content {
        width: 90%;
        position: absolute;
        background-color: rgb(18, 29, 74, .8);
        right: 2%;
        margin-left: 0;
        margin-right: 0;
        bottom: 5%;
    }
}

/* !: Chill Mode */
.chill_mode {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 105vh;
    /* background-color: #15235A; */
    /* background: linear-gradient(106deg, #132156 0%, #15235A 47.41%, #3953BB 100%); */
    padding: 2% 0;
    position: relative;
    padding-bottom: 10vh;
}
.chill_mode__content {
    grid-template-columns: 35% 65%;
    margin-bottom: 0;
    padding: 2% 4%;
}
.chill_mode__left {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0 5%;
    height: 90%;
    margin: 5% 0;
}
.chill_mode__left div h3 {
    color: var(--white);
    font-family: var(--DMSans);
    font-size: calc(((1vw + 1vh) * 2));
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.55px;
    margin-top: 16%;
}
.chill_mode__left div {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 0 10%;
}
.chill_mode__left div p {
    color: var(--white);
    font-family: var(--DMSans);
    font-size: calc(((1vw + 1vh) * .9));
    font-style: normal;
    font-weight: 700;
}
.chill_mode__left img {
    width: 36vw;
    height: auto;
    position: absolute;
    /* left: 0; */
    top: 0%;
}
.chill_mode__right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 80%;
    margin: 10% 5%;
}
.chill_mode__right__back {
    position: relative;
    width: 100%;
    height: 100%;
}
.chill_mode__right__back span {
    display: block;
    content: '';
    border-radius: 13px;
    position: absolute;
}
.chill_mode__right__back .block1 {
    background: #4A578B;
    width: 10%;
    height:  18%;  
    top: 0;
    left: 0;
}
.chill_mode__right__back .block2 {
    background: rgba(0, 0, 0, 0.28);
    width: 11%;
    height: 16%;  
    top: 2%;
    left: 42%;
}
.chill_mode__right__back .block3 {
    background: rgba(0, 0, 0, 0.28);
    width: 16%;
    height: 18%;  
    top: -4%;
    right: 6.5%;
}
.chill_mode__right__back .block4 {
    background: rgba(255, 255, 255, 0.68);
    width: 16%;
    height: 24%;  
    bottom: -2%;
    right: 1.4%;
}
.chill_mode__right__back .block5 {
    background: rgba(255, 255, 255, 0.68);
    width: 8%;
    height: 14%;  
    bottom: 5%;
    left: 40%;
}
.chill_mode__right__back .block6 {
    background: #0C1935;
    width: 16%;
    height:  16%;  
    bottom: 0;
    left: 0%;
}
.chill_mode__right img {
    width: 96%;
    border-radius: 16px;
    position: absolute;
}
.chill_mode__right__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20%;
    width: 100%;
    gap: 2%;
}
.chill_mode__right__buttons .butn {
    font-size: calc((1vw + 1vh)*1.2);
    width: 100%;
    max-width: calc((1vw + 1vh)*9);
    height: calc((1vw + 1vh)*2.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    letter-spacing: 0;
}
.chill_mode__right__buttons .butn:last-child {
    background-color: transparent;
    color: var(--white);
    border: calc((1vw + 1vh)*.24) solid var(--white);
}
@media screen and (max-width: 500px) {
    .chill_mode .about__title {
        font-size: calc((1vw + 1vh) * 5.4);
        height: 16vh;
    }
    .chill_mode__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .chill_mode__left {
        height: 40vh;
    }
    .chill_mode__left div h3 {
        font-size: calc(((1vw + 1vh) * 3));
    }
    .chill_mode__left div p {
        font-size: calc(((1vw + 1vh) * .9));
    }
    .chill_mode__left div {
        padding: 0;
    }
    .chill_mode__left img {
        width: 85vw;
        z-index: -1;
        top: -10vh;
        left: 10%;
    }
    .chill_mode__right img {
        left: 0vw;
        height: 40vh;
        width: auto;
    }
    .chill_mode__right__back .block6 {
        width: 22%;
        height: 22%;
        bottom: -5%;
        left: -2%;
    }
    .chill_mode__right__buttons {
        bottom: -55%;
        flex-direction: column;
    }
    .chill_mode__right__back .block1 {
        width: 20%;
        height: 22%;
        top: -4%;
        left: -4%;
    }
    .chill_mode__right__buttons .butn {
        margin-bottom: 3%;
        width: 100%;
        max-width: 100%;
        font-size: calc((1vw + 1vh) * 1.8);
        height: auto;
        padding: 10px 18px 10px 22px;
    }
}

/*  !: Calendar */
.calendar {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    /* background-color: #15235A; */
    /* background: linear-gradient(254deg, #3953BB 0.29%, #15235A 59.66%, #132156 100%);  */
    padding: 2% 0;
    position: relative;
}
.calendar__title {
    font-size: calc((1vw + 1vh) * 2.8);
    text-transform: none;
    padding-bottom: 2%;
}
.calendar__content {
    grid-template-columns: 55% 45%;
    height: 85vh;
    width: 100%;
    align-items: start;
}
.calendar__content__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 65vh;
    position: relative;
}
.calendar__content__left span:first-child {
    display: block;
    content: '';
    width: 30%;
    height: 50%;
    background-color: #0C1935;
    border-radius: 13px;
    position: absolute;
    left: 30%;
    top: 42%
}
.calendar__content__help {
    position: absolute;
    width: 18%;
    top: -1.7%; 
    left: 21%;
    z-index: 2;
}
.calendar__content__left__block2 {
    display: block;
    content: '';
    width: 16%;
    height: 22%;
    position: absolute;
    background: rgba(255, 255, 255, 0.68);
    left: 22%;
    border-radius: 13px;
    top: 30%; 
    z-index: 2;
}
.calendar__design {
    position: absolute;
    height: 96%;
    right: 5%;
    top: 2%;
    z-index: 4;
}
.calendar__todo {
    position: absolute;
    height: 44%;
    left: 8%;
    bottom: -14%;
    z-index: 3;
}
.calendar__content__right {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: relative;
    height: 65vh;
    width: 100%;
    padding: 0 5%;
}
.calendar__right__item {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-radius: 13px;
    border-left: 2px solid var(--white);
    width: 100%;
    max-width: 75%;
    position: absolute;
    /* left: 5%; */
    padding: 2% 5%;
}
.calendar__content__right__img {
    height: 140%;
    position: absolute;
    right: 0%;
    top: -5%;
}
.calendar__right__item h3 {
    color: #FFF;
    font-family: DM Sans;
    font-size: calc((1vw + 1vh) * 2);
    font-style: normal;
    font-weight: 700;
    /* line-height: 63.25px; 117.13% */
    letter-spacing: -0.55px; 
}
.calendar__right__item b {
    color: #FFF;
    font-family: var(--DMSans);
    font-size: calc((1vw + 1vh) * .9);
    font-style: normal;
    font-weight: 700;
    margin: 4px 0;
}
.calendar__right__item p {
    color: #FFF;
    font-family: var(--inter);
    font-size: calc((1vw + 1vh) * .8);
    font-style: normal;
    font-weight: 400;
    max-width: 85%;
}
.calendar__right__item p span {
    font-family: var(--bayerSans);
    font-size: calc((1vw + 1vh) * .9);
}
.calendar__right__item img {
    width: calc((1vw + 1vh) * 12);
    position: relative;
    margin: 2%;
}

/* !: Info */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 6vh 9vw;
    height: 114vh;
}
.info__title {
    height: 10vh;
    width: 100%;
    padding-bottom: 2%;

    display: flex;
    justify-content: start;
    align-items: start;
}
.info__title div {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
}
.info__title div h3 {
    color: #FFF;
    font-family: var(--bayerSans);
    font-weight: 400;
    font-size: calc((1vw + 1vh) * 2);
    text-transform: none;
    width: 100%;
    margin-bottom: 2%;
}
.info__description {
    display: grid;
    grid-template-columns: 34% 66%;
    width: 100%;
    align-items: center;
    gap: 5%;
    margin-top: 6%;
}
.info__description__left {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10vh;
}
.info__block {
    width: 100%;
    max-width: calc((1vw + 1vh) * 12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: calc((1vw + 1vh) * .8);
    border-radius: 0 0 0 30px;
    filter: drop-shadow(0px 0px 42px rgba(0, 0, 0, 0.20));
}
.info__block1 {
    background-color: #1B2E74;
}
.info__block2 {
    background-color: #5166B5;
    max-width: calc((1vw + 1vh) * 8.5);
    margin-left: 20%;
}
.info__block3 {
    background-color: #1C2A5D;
    max-width: calc((1vw + 1vh) * 13);
}
.info__block span {
    display: block;
    content: '';
    width: 30%;
    height: 3px;
    background-color: var(--white);
    top: 0;
    left: 0;
    position: absolute;
}
.info__block h4 {
    font-weight: 500;
    line-height: calc((1vw + 1vh) * 1.4);
    font-size: calc((1vw + 1vh) * 1);
}
.info__block2 span {
    left: 70%;
}
.info__description__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: calc((1vw + 1vh) * .6);
    gap: 2vh;
    border-top: 1.6px solid var(--white);
    border-radius: 20px;
}
.info__description__right__img {
    position: absolute;
    top: -28.3%;
    width:  calc((1vw + 1vh) * 6.5);
    left: 30%;
}
.info__description__section {
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    justify-content: space-between;
    align-items: start;
    padding:  calc((1vw + 1vh) * .9);
    width: 100%;
    gap: 5%;
    border-radius: 19px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.30);
}
.info__description__section1 {
    background: linear-gradient(92deg, #2142BD 0.11%, #1A2B6D 99.4%); 
}
.info__description__section2 {
    background: linear-gradient(268deg, #768DE3 0.68%, #5166B5 50.04%, #5166B5 99.65%); 
}
.info__description__section3 {
    background: linear-gradient(268deg, #1C2A5D 0%, #0A1336 99.26%); 
}
.info__section__block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.info__section__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  calc((1vw + 1vh) * .4);
}
.info__section__header img {
    width: calc((1vw + 1vh) * .9);
}
.info__section__header h4 {
    font-weight: 500;
    font-size: calc((1vw + 1vh) * .9);
}
.info__section__block p {
    margin-left: calc((1vw + 1vh) * 1.4);
    font-size: calc((1vw + 1vh) * .75);
    margin-top: calc((1vw + 1vh) * .4);
    max-width: calc((1vw + 1vh) * 7.6);
}

/* !: faq */
.faq {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.faq__info {
    height: 35vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5vh;
    width: 100%;
}
.faq__title {
    font-size: calc((1vw + 1vh) * 2.8);
    color: #FFF;
    font-family: var(--bayerSans);
    font-weight: 400;
    text-transform: none;
    margin-bottom: 2%;
    line-height: calc((1vw + 1vh) * 1.8);
}
.faq__desc {
    font-size: calc((1vw + 1vh) * 1.4);
    margin-bottom: 10px;
}
.faq__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 2vh 20vh;
    width: 100%;
    height: 70vh;
}
.faq__item__left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 70%;
    margin-left: 22%;
}
.faq__item__question {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.46);
    padding-bottom: 4px;
    margin-bottom: 4px;
}
.faq__item__question__title {
    padding: 10px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.faq__item__question__title h3 {
    font-size: calc((1vw + 1vh) * .8);
    font-family: var(--inter);
    font-weight: 400;
}
.faq__item__question__title img {
    width: calc((1vw + 1vh) *.8);
}
.faq__item__question__content {
    display: none;
}

.faq__help {
    position: absolute;
    position: absolute;
    bottom: 0;
    width: calc((1vw + 1vh) * 14);
    right: 3%;
    z-index: -1;
}
.faq__back {
    height: 100%;
    position: absolute;
    z-index: -2;
}
.faq__item__right {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
    max-width: 75%;
}
.faq__item__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}
.faq__item__info h3 {
    font-size: calc((1vw + 1vh)*.85);
    margin-bottom: 10px;
}
.faq__item__productivity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:  10px;
    width: 100%;
    max-width: calc((1vw + 1vh) *12);
    height: calc((1vw + 1vh) * 4.4);
    border-radius: 100px;
    border-top: 1px solid rgba(255, 255, 255, 0.53);
    border-left: 1px solid rgba(255, 255, 255, 0.53);
    background: #D9D9D9;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.47) inset, 4px 4px 6px 5px rgba(0, 0, 0, 0.25), -9px -7px 6px 1px rgba(255, 255, 255, 0.10);
    padding: 2%;
    margin-bottom: calc((1vw + 1vh) * 1.4);
}
.faq__item__percent {
    width: 200px;
    font-size: calc((1vw + 1vh) * 2);
    color: #13A310;
    font-weight: bold;
    width: 75%;
    text-align: center;
}
.faq__item__circle {
    display: block;
    content: '';
    width: 35%;
    /* height: calc((1vw + 1vh) * 4); */
    height: 100%;
    background-color: #13A310;
    border-radius: 100px;
}
.faq__item__percent:last-child {
    color: #484848;
}
.faq__item__circle:first-child {
    background-color: #484848;
}

/* TODO: Send Email */
.send__email {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.send__email__back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.send__email__back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    filter: blur(3px);
}
.send__email__back__filter {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.66); 
    position: absolute;
    padding: 10vh 10vw;
}
.send__email__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 70vh;
    padding: 10vh 10vw;
}
.send__email__item form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}
.send__email__item h2 {
    font-size: calc((1vw + 1vh) * 3.5);
    font-weight: 400;
    font-family: var(--bayerSans);
    letter-spacing: 2px;
    height: 30%;

    color: #FFF;
    text-align: center;
    font-weight: 400;
}
.send__email__item p {
    font-size:  calc((1vw + 1vh) * 1.4);
}
.send__email__field {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.82); 
    width: 60%;
    display: flex;
    justify-content: start;
    gap: 2%;
    align-items: center;
    padding: 1.4% 3%;
    margin-bottom: 1.6%;
}
.send__email__field input {
    width: 100%;
    letter-spacing: -0.55px; 
    font-family: var(--DMSans); 
    font-size: calc((1vw + 1vh) * 1.2);
    color: var(--primary);
    border-radius: 20px;
    padding: calc((1vw + 1vh) * .4);
}
.send__email__field img { 
    width: calc((1vw + 1vh) * 1.2);
}
.send__email__field input::placeholder {
    color: rgba(46, 46, 46, 0.67);;
}
.send__email__item button {
    background-color: #fff;
    background-color: var(--white);
    font-size: calc((1vw + 1vh) *  1.4);
    font-family: var(--bayerSans);
    color: var(--black);
    border-radius: 0 0 0 15px;
    padding: 1% 4%;
}
.send__email__item button:hover{
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;     
}
.send__email__success {
    /* background-color: var(--oblue); */
    /* border: 5px solid var(--darkblue); */
    padding: 2% 4%;
    font-size: calc((1vw + 1vh) * 1.2);
    border-radius: 10px;
    display: none;
}

/* TODO: footer */
.footer {
    background: #101A41; 
    height: 75vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.footer__back {
    height: 100%;
    position: absolute;
    right: 0;
}
.footer__item {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 3% 5%;
    z-index: 1;
}
.footer__top {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
    gap: .7%;
}
.footer__top img {
    height: calc((1vw + 1vh) * 5.4);
}
.footer__middle {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2%;
    justify-content: start;
    align-items: start;
    width: 100%;
}
.footer__middle__left {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    gap: 10%;
}
.footer__middle__left__top {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-bottom: calc((1vw + 1vh) * 1.3)
}
.footer__middle__left__top h3 {
    font-size: calc((1vw + 1vh) * 1.4);
    font-family: var(--DMSans);
    font-weight: 500;
}
.footer__middle__left__bootom {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 2%;
}
.footer__middle__left__bootom a {
    font-size: calc((1vw + 1vh) * .8);
    font-family: var(--DMSans);
    padding: calc((1vw + 1vh) * .8) 0;
    color: var(--white);
}
.footer__middle__right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    padding: 0 6% 0 0;
}
.footer__middle__right__spec {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.footer__middle__right__spec h3 {
    font-size: calc((1vw + 1vh) * 1.4);
    font-family: var(--DMSans);
    font-weight: 500;
    margin-bottom: calc((1vw + 1vh) * .8);
}
.footer__middle__right__content {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 2%;
}
.footer__middle__right__content a {
    font-family: var(--DMSans);
    font-size: calc((1vw + 1vh) *.86);
    color: var(--white);
    font-weight: 200;
    margin-bottom: calc((1vw + 1vh) * .7);
}
.footer__middle__right__content a:hover {
    border-bottom: 1px solid var(--white);
    cursor: pointer;
}
.footer__bottom {
    position: absolute;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.footer__bottom__left {
    display: block;
    content: '';
    height: 1.2px;
    width: 78%;
    background-color: var(--white);
}
.footer__bottom__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 calc((1vw + 1vh) * 1.5);
    gap: calc((1vw + 1vh) * 2.2);
}
.footer__bottom__icons a img {
    width: calc((1vw + 1vh) * 1.2);
}
.footer__bottom__right {
    display: block;
    content: '';
    height: 1.2px;
    width: 12%;
    background-color: var(--white);
}

