@import "./variables.css";

* {
   box-sizing: border-box;

   padding: 0;
   margin: 0;

   text-decoration: none;
   border: none;
   outline: none;
}
body {
   color: var(--white);

   font-family: var(--inter);
   font-size: 18px;
   overflow: hidden;
}

/* scroll */
::-webkit-scrollbar {
   width: 6px;
   background-color: rgb(254,254,254,.1);
}
::-webkit-scrollbar-thumb {
   background-color: var(--oblue);
   border-radius: 10px;
   transition: all .3s linear;
}
::-webkit-slider-thumb:hover {
  background-color: var(--blue);
}

/* selection */
::selection {
   background-color: var(--white);
}

/* loader */
.loader {
   width: 62px;
   height: 62px;
   border-radius: 50%;
   display: inline-block;
   position: relative;
   border: 5px solid;
   border-color: #fff #fff transparent transparent;
   box-sizing: border-box;
   animation: rotation 1.1s linear infinite;
   margin: 3vh 0;
 }
 .loader::after,
 .loader::before {
   content: '';  
   box-sizing: border-box;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   margin: auto;
   border: 5px solid;
   border-color: transparent transparent var(--blue) var(--blue);
   width: 50px;
   height: 50px;
   border-radius: 50%;
   box-sizing: border-box;
   animation: rotationBack 0.6s linear infinite;
   transform-origin: center center;
 }
 .loader::before {
   width: 38px;
   height: 38px;
   border-color: #FFF #FFF transparent transparent;
   animation: rotation 1.6s linear infinite;
 }
     
 @keyframes rotation {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 } 
 @keyframes rotationBack {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(-360deg);
   }
 }

input, button, select, textarea, a, .btn {
  transition: all .3s linear;
}
a {
  color: var(--lightgray);
  cursor: pointer;
}
a:hover {
  color: var(--white);
}
/*  ! button */
.btn {
  padding: 8px 32px;
  background-color: var(--blue);
  color: var(--lightgray);
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--black);
  color: var(--white);
}