@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

@font-face {
   font-family: 'bayer-sans'; 
   src: url('./../fonts/bayer-sans.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
 }
 

:root {
   --black: #000;
   --white: #fff;
   --primary: #2e2e2e;
   --blue: #2f00ea;
   --lightgray:#D1D1D1;
   --violet: #30324F;

   --oblue: RGBa(47, 0, 234, 0.46);
   --olightgray: rgba(209, 209, 209, 0.46);
   --oviolet: rgba(48, 50, 79, .66);

   --inter: 'Inter', sans-serif;
   --bayerSans: 'bayer-sans', sans-serif;
}
