@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

:root {
   --black: #000;
   --white: #fff;
   --primary: #2e2e2e;
   --blue: #2f00ea;
   --lightgray:#D1D1D1;

   --oblue: RGBa(47, 0, 234, 0.46);
   --olightgray: RGBa(209, 209, 209, 0.46);

   --inter: 'Inter', sans-serif;
   --brunoAceSC: 'Bruno Ace SC', cursive;
}
