{% include 'main.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/special/privacy.css' %}">
<title>Terms of use</title>
{% endblock title %}

{% block content %}
<div class="page">
    {% include "special/header.html" %}

    <div class="page__content">
        <div class="page__menu">
           <a href="#registration-and-social-media-accounts">Registration and social media accounts</a>
           <a href="#interaction-with-social-networks">Interaction with social networks</a>
           <a href="#create-notes">Create notes</a>
           <a href="#confidentiality">Confidentiality</a>
           <a href="#use-restrictions">Use restrictions</a>
           <a href="#denial-of-responsibility">Denial of responsibility</a>
           <a href="#terms-of-use-changes">Terms of Use Changes</a>
        </div>
        <div class="page__info">

            <div class="page__desc" id="registration-and-social-media-accounts">
                <h3>Registration and social media accounts</h3>
                <p>To use our application, you must register with your social media account (eg Google or Facebook).</p>
                <p>You are required to provide up-to-date and complete data when registering in our application.</p>
                <p>You are responsible for the security of your social media account and must not provide access to it to third parties.</p>
            </div>

            <div class="page__desc" id="interaction-with-social-networks">
                <h3>Interaction with social networks</h3>
                <p>Our application has access to your social network account only with your permission.</p>
                <p>We use this access to receive messages posted to your account and display them in our application.</p>
                <p>We do not store your password for your social network account and do not provide third parties with access to your data without your permission.</p>
            </div>

            <div class="page__desc" id="create-notes">
                <h3>Create notes</h3>
                <p>In our application you can create notes.</p>
                <p>You are responsible for the content of the created notes and must not violate the rights of third parties, including copyright and privacy.</p>
            </div>

            <div class="page__desc" id="confidentiality">
                <h3>Confidentiality</h3>
                <p>We value your privacy and are committed to processing your data in accordance with our privacy policy.</p>
                <p>We will not share your personal information with third parties without your express consent, except as required by law.</p>
            </div>

            <div class="page__desc" id="use-restrictions">
                <h3>Use restrictions</h3>
                <p>You agree to use our application only for lawful purposes and not violate the rights of other users or third parties.</p>
                <p>You are responsible for any activity that occurs through your account on our app.</p>
            </div>

            <div class="page__desc" id="denial-of-responsibility">
                <h3>Denial of responsibility</h3>
                <p>We are not responsible for the content of messages received from your social media account.</p>
                <p>We do not guarantee the continuity or security of our application and are not responsible for possible failures or problems in operation.</p>
            </div>

            <div class="page__desc" id="terms-of-use-changes">
                <h3>Terms of Use Changes</h3>
                <p>We reserve the right to change the terms of use at any time.</p>
                <p>If we make material changes, we will notify you by means of a notice in our application or by sending a notice to your email address.</p>
            </div>

        </div>
    </div>
</div>
{% endblock content %}