    <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="shortcut icon" href="/static/media/logos/favicon.ico" type="image/x-icon">

   <link rel="stylesheet" href="/static/css/main.css" type="text/css" >
   <link rel="stylesheet" href="/static/css/equalizer.css" type="text/css" >

   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

   {% block title %}{% endblock title %}
</head>
<body>
   <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <div class='message'>
                    <h2>{{message}}</h2>
                    <i class="fa-solid fa-xmark message_close"></i>
                </div>
            {% endfor %}
        {% endif %}
   </div>

 <div class="chill__mode" id="chill__mode" style='display:none; opacity: 0'>
    <div class="chill__mode__left">
        <a href="">
            <img src="/static/media/logos/jesk.svg" alt="jesk logo">
        </a>
        <div class="chill__mode__left__menu">
            <span></span>
        </div>
    </div>
    <div class="chill__mode__center">
        <h2>
            Relaxing means calming your body and <br>
            mind and getting rid of panic and anxiety.
        </h2>
    </div>
    <div class="chill__mode__right">
        <a id='chill__mode__exit'>
            FOCUS MODE
            <i class="fa-solid fa-caret-right"></i>
        </a>
    </div>
 </div> 

{% block content %}{% endblock content %}


<script src="{% static 'js/components/close_messages.js' %}" ></script>
<script src="{% static 'js/components/equalizer.js' %}" ></script>
<script src="https://kit.fontawesome.com/0b77448ae5.js" crossorigin="anonymous"></script>
</body>
</html>