{% include 'main.html' %}
{% load static socialaccount account %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
   {% if page_type == 'sign-in' %}
      <title>Log in Your account</title>
   {% else %}
      <title>Create a New account</title>
   {% endif %}
{% endblock title %}

{% block content %}
<div class="page">
   <img src="/static/media/backSignIn.png" alt="back-Sign-In">
   <form 
      class="page__form" 
      method="POST"
      {% if page_type == 'sign-in' %}
         style="top: 22vh"
      {% else %}
         style="top: 14vh"
      {% endif %}
   >
    {% csrf_token %}
    <div class="page__form__logo">
      <img src="/static/media/logos/jesk.svg" alt="jesk" class="logo">
    </div>
    {% if page_type == 'sign-in' %}
     <div class="page__form___comp">

      <h2>Log in Your account</h2>

      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      
     </div>
   {% elif page_type == 'sign-up' %}
     <div class="page__form___comp">
         <h2>Create a New account</h2>

         {% for field in form  %}
            {{ field }}
         {% endfor %}
     </div>
   {% endif %}
    <input type="submit" style="display: none;" value="Continue" />
    <div class="buttons">
       <a href="{% provider_login_url 'google' %}">Continue with Google</a>
       <a href="{% provider_login_url 'facebook' method='oauth2' %}">Continue with Facebook</a>
    </div>
   </form>
   <div class="page__form__another" >
      {% if page_type == 'sign-in' %}
        <p>Don't have any account? <a href="{% url 'base:sign-up' %}" class="link">Create a New account</a></p>
      {% elif page_type == 'sign-up' %}
        <p>I have an account! <a href="{% url 'base:sign-in' %}" class="link">Log in Your account</a> </p>
      {% endif %}
   </div>
 </div>
{% endblock content %}