{% include 'main.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<title>Home</title>
{% endblock title %}

{% block content %}
<div class="page" style="background-image: url('/static/media/Rectangle.png');">
      {% include 'base/blocks/Inbox.html' %}
      {% include 'base/blocks/Today.html' %}
      {% include 'base/blocks/Calendar.html' %}
      <div class="page__window"></div>
 </div> 
 
{% comment %}
<script src="{% static 'js/API/getMessages.js' %}" ></script>
<script src="{% static 'js/API/rewriteTokens.js' %}" ></script>

<script src="{% static 'js/API/settings.js' %}" ></script>

<script src="{% static 'js/components/todos.js' %}" ></script>
<script src="{% static 'js/components/backImage.js' %}" ></script> {% endcomment %}
{% endblock content %}

<script src="{% static 'js/API/utils.js' %}" ></script>