{% include 'main.html' %}
{% load static %}

{% block title %}
    <link rel="stylesheet" href="{% static 'css/lending.css' %}">

    <title>Jesk</title>
{% endblock title %}

{% block content %}
<div class="page">

    <div class="page__left">
        <span></span>
        
    </div>

    <div class="header">

        <div class="header__left">
            <img src="/static/media/logos/jesk.svg" alt="jesk">
        </div>

        <div class="header__menu">
            <a href="">RESOURCES</a>
            <a href="">BLOG</a>
            <a href="">PRODUCTS</a>
        </div>

        <div class="header__right">
            <a href="/sign-up" class="butn">Register</a>
            <a href="/sign-in" class="butn butn-bord">Sign In</a>
        </div>

    </div>

    <div class="intro">
        <span class="intro__top__line"></span>
        <div class='intro__left'>

            <span class="intro__left__back__line__one">
                <span class="intro__left__line__one"></span>
            </span>

            <div class="intro__left__icons">
                <img src="/static/media/icons/instagram.svg" alt="instagram" class="intro__left__icons__insta" />
                <img src="/static/media/icons/telegram.svg" alt="telegram" class="intro__left__icons__telega" />
            </div>

            <span class="intro__left__back__line__two">
                <span class="intro__left__line__two"></span>
            </span>

        </div>

        <div class="intro__item">

            <div class="intro__top">
                <h2>ORDER IN THE HEAD</h2>
                <h2>ORDER IN the WORKSPACE </h2>
                <p>Make your workspace more comfortable with <b>JESK</b></p>
            </div>

            <div class="intro__buttons">
                <a href="" class="butn">BUY</a>
                <a href="" class="butn butn-bord">LEARN MORE</a>
            </div>

            <div class="intro__bottom">
                Try it free for 30 days
            </div>

        </div>

    </div>

    <div class="page__container">
        <div class="about">
            <h2 class="about__title">About</h2>
            <div class="about__content">
                <div class="about__left">
                    <img src="/static/media/lending/laptop.png" alt="laptop">
                </div>
                <div class="about__right">
                    <div class="about__right__content">
                        <h2>Tasks, files and </h2>
                        <h2>your team's</h2>
                        <h2>teams</h2>
                        <p class="about__right__content__p">Everything is neatly organized in one space.</p>
                        <ul>
                            <li>
                                <img src="/static/media/icons/userPlus.svg" alt="user Plus">
                                <p>Plan projects and assign performers</p>
                            </li>
                            <li>
                                <img src="/static/media/icons/message.svg" alt="message">
                                <p>Share files and discuss details</p>
                            </li>
                            <li>
                                <img src="/static/media/icons/graphic.svg" alt="graphic">
                                <p>Monitor progress and complete tasks on time</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="chill_mode">
            <h2 class="about__title chill_mode__title">REMEMBER TO RELAX</h2>
            <div class="about__content chill_mode__content">
                <div class="chill_mode__left">
                    <div>
                        <h3>Chill Mode.</h3>
                        <p>Work can't go on without a break!</p>
                    </div>
                    <img src="/static/media/lending/chill_mode_relax.png" alt="chill mode relax" />
                </div>
                <div class="chill_mode__right">
                    <div class="chill_mode__right__back">
                        <span class="block1"></span>
                        <span class="block2"></span>
                        <span class="block3"></span>
                        <span class="block4"></span>
                        <span class="block5"></span>
                        <span class="block6"></span>
                    </div>
                    <img src="/static/media/lending/chill_mode_screen.png" alt="chill mode screen" class="chill_mode__right__image" />
                    <div class="chill_mode__right__buttons">
                        <a class="butn">TRY IT FREE</a>
                        <a class="butn">SEND EMAIL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script src="/static/js/lending/lending.js"></script>

{% endblock content %}
