{% include 'main.html' %}
{% load static %}

{% block title %}
    <link rel="stylesheet" href="/static/css/lending.css">

    <title>Jesk</title>
{% endblock title %}

{% block content %}
<div class="page">

    <div class="page__left">
        <span></span>
        
    </div>

    <div class="header">

        <div class="header__left">
            <img src="/static/media/logos/jesk.svg" alt="jesk">
        </div>

        <div class="header__menu">
            <a href="">HOME</a>
            <a href="">For team</a>
            <a href="">ABOUT</a>
            <a href="">Chill Mode</a>
            <a href="">Calendar</a>
            <a href="">
                PRODUCTS
                <img src="/static/media/lending/Polygon.svg" alt="polygon">
            </a>
        </div>

        <div class="header__right">
            <a href="/sign-up" class="butn">Register</a>
            <a href="/sign-in" class="butn butn-bord">Sign In</a>
        </div>

    </div>

    <div class="intro">
        <span class="intro__top__line"></span>
        <div class='intro__left'>

            <span class="intro__left__back__line__one">
                <span class="intro__left__line__one"></span>
            </span>

            <div class="intro__left__icons">
                <img src="/static/media/icons/instagram.svg" alt="instagram" class="intro__left__icons__insta" />
                <img src="/static/media/icons/telegram.svg" alt="telegram" class="intro__left__icons__telega" />
            </div>

            <span class="intro__left__back__line__two">
                <span class="intro__left__line__two"></span>
            </span>

        </div>

        <div class="intro__item">

            <div class="intro__top">
                <h2>ORDER IN THE HEAD</h2>
                <h2>ORDER IN the WORKSPACE </h2>
                <p>Make your workspace more comfortable with <b>JESK</b></p>
            </div>

            <div class="intro__buttons">
                <a class="butn buy" href="{% url 'base:sign-in' %}">BUY</a>
                <a class="butn butn-bord learn_more butn_link" title="#About">LEARN MORE</a>
            </div>

            <div class="intro__bottom">
                Try it free for 30 days
            </div>

            <img src="/static/media/lending/intro_help.svg" alt="intro__help" class="intro__help">
        </div>

    </div>

    <div class="page__container">
        <div class="about" id="About">
            <h2 class="about__title">About</h2>
            <div class="about__content">
                <div class="about__left">
                    <img src="/static/media/lending/about_help.svg" alt="about help" class="about__help">
                    <img src="/static/media/lending/laptop.png" alt="laptop" class="about__left__laptop">
                </div>
                <div class="about__right">
                    <div class="about__right__content">
                        <h2>Tasks, files and </h2>
                        <h2>your team's</h2>
                        <h2>teams</h2>
                        <p class="about__right__content__p">Everything is neatly organized in one space.</p>
                        <ul>
                            <li>
                                <img src="/static/media/icons/userPlus.svg" alt="user Plus">
                                <p>Plan projects and assign performers</p>
                            </li>
                            <li>
                                <img src="/static/media/icons/message.svg" alt="message">
                                <p>Share files and discuss details</p>
                            </li>
                            <li>
                                <img src="/static/media/icons/graphic.svg" alt="graphic">
                                <p>Monitor progress and complete tasks on time</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="chill_mode">
            <h2 class="about__title chill_mode__title">REMEMBER TO RELAX</h2>
            <div class="about__content chill_mode__content">
                <div class="chill_mode__left">
                    <div>
                        <h3>Chill Mode.</h3>
                        <p>Work can't go on without a break!</p>
                    </div>
                    <img src="/static/media/lending/chill_mode_relax.png" alt="chill mode relax" />
                </div>
                <div class="chill_mode__right">
                    <div class="chill_mode__right__back">
                        <span class="block1"></span>
                        <span class="block2"></span>
                        <span class="block3"></span>
                        <span class="block4"></span>
                        <span class="block5"></span>
                        <span class="block6"></span>
                    </div>
                    <img src="/static/media/lending/chill_mode_screen.png" alt="chill mode screen" class="chill_mode__right__image" />
                    <div class="chill_mode__right__buttons">
                        <a class="butn try-it-free" href="{% url 'base:sign-in' %}">TRY IT FREE</a>
                        <a class="butn send-mail butn_link" title="#SendEmail">SEND EMAIL</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="calendar">
            <h2 class="about__title calendar__title ">Don't miss important dates</h2>
            <div class="about__content calendar__content">
               <div class="calendar__content__left">
                    <span class="calendar__content__left__block1"></span>
                    <img src="/static/media/lending/calendar_help.svg" alt="calendar help" class="calendar__content__help">
                    <span class="calendar__content__left__block2"></span>
                    <img src="/static/media/lending/Calendar_design.png" class="calendar__design" />
                    <img src="/static/media/lending/calendar_todo.png" class="calendar__todo" />
               </div>
               <div class="calendar__content__right">
                    <div class="calendar__right__item">
                        <h3>Google Calendar</h3>
                        <b>Attach notes to events in your calendar</b>
                        <p>By connecting Google Calendar to <span>JESK</span>, you can pin notes to events in your calendar and then open them directly from the calendar widget on Home. You can also search for notes by event details.</p>
                        <img src="/static/media/lending/calendar_calendar.svg" alt="calendar">
                    </div>
                    <img src="/static/media/lending/calendar_jesk.svg" alt="calendar jesk" class="calendar__content__right__img" />
               </div>
            </div>
        </div>
    </div>

    <!-- info -->
    <div class="info">
        <div class="info__title">
            <div class="">
                <h3>Designed for personal</h3>
                <h3>and team productivity</h3>
            </div>
        </div>
        <div class="info__description">

            <div class="info__description__left">
                <div class="info__block info__block1">
                    <span></span>
                    <h4>Manage your team without stress</h4>
                </div>
                <div class="info__block info__block2">
                    <span></span>
                    <h4>Collaborate effectively</h4>
                </div>
                <div class="info__block info__block3">
                    <span></span>
                    <h4>Concentrate on the right things at the right time</h4>
                </div>
            </div>

            <div class="info__description__right">
                <img src="/static/media/lending/info_help.svg" alt="Help" class="info__description__right__img" />

                <!-- 1 Секция -->
                <div class="info__description__section info__description__section1">

                    <div class="info__section__block ">
                        <div class="info__section__header">
                            <img src="/static/media/lending/info_icon_central_office.svg" alt="info_icon_central_office" />
                            <h4>Central Office</h4>
                        </div>
                        <p>Track accounts, manage member accounts and share.</p>
                    </div>

                    <div class="info__section__block ">
                        <div class="info__section__header">
                            <img src="/static/media/lending/info_icon_action_log.svg" alt="info_icon_action_log" />
                            <h4>Action Log</h4>
                        </div>
                        <p>Get an overview of what the team is working on.</p>
                    </div>

                    <div class="info__section__block">
                        <div class="info__section__header">
                            <img src="/static/media/lending/info_icon_filter_tasks_by_creator_or_executor.svg" alt="info_icon_filter_tasks_by_creator_or_executor" />
                            <h4>Filter tasks by creator or executor</h4>
                        </div>
                        <p>Shows all tasks assigned by you or tasks assigned to a specific employee.</p>
                    </div>

                </div>

                <!-- 2 Секция -->
                <div class="info__description__section info__description__section2">

                    <div class="info__section__block">
                        <div class="info__section__header">
                            <img src="/static/media/lending/info_icon_comments.svg" alt="info_icon_comments" />
                            <h4>Comments</h4>
                        </div>
                        <p>Discuss details, share information and get feedback from your team.</p>
                    </div>

                    <div class="info__section__block">
                        <div class="info__section__header">
                            <img src="/static/media/lending/info_icon_uploading_files.svg" alt="info_icon_uploading_files" />
                            <h4>Uploading files</h4>
                        </div>
                        <p>Upload files from your computer.</p>
                    </div>

                    <div class="info__section__block">
                        <div class="info__section__header">
                            <img src="/static/media/lending/info_icon_notifications.svg" alt="info_icon_notifications">
                            <h4>Notifications</h4>
                        </div>
                        <p>Receive notifications of changes to shared projects.</p>
                    </div>

                </div>

                <!-- 3 Секция -->
                <div class="info__description__section info__description__section3">

                    <div class="info__section__block">
                        <div class="info__section__header">
                            <img src="/static/media/lending/info_icon_priority_levels.svg" alt="info_icon_priority_levels">
                            <h4>Priority levels</h4>
                        </div>
                        <p>Use <b>JESK</b> priority color levels to pay attention to the most important tasks first.</p>
                    </div>

                    <div class="info__section__block">
                        <div class="info__section__header">
                            <img src="/static/media/lending/info_icon_tags.svg" alt="info_icon_tags">
                            <h4>Tags</h4>
                        </div>
                        <p>Organize tasks in context using tags such as "@email" or "@waiting".</p>
                    </div>

                    <div class="info__section__block">
                        <div class="info__section__header">
                            <img src="/static/media/lending/info_icon_filters.svg" alt="info_icon_filters">
                            <h4>Filters</h4>
                        </div>
                        <p>Create your own filters to keep lists displaying your most important tasks.</p>
                    </div>

                </div>

            </div>
            
        </div>
    </div>

    <div class="faq">
        <div class="faq__info">
            <div class="faq__title">FREQUENTLY ASKED QUESTIONS</div>
            <div class="faq__desc">Here you can find frequently asked questions and their answers</div>    
        </div>

        <div class="faq__item">
            <div class="faq__item__left">
                
                <div class="faq__item__question">
                    <div class="faq__item__question__title">
                        <h3>How I can use JESK in my work life?</h3>
                        <img src="/static/media/lending/pod.svg" alt="pod">
                    </div>
                    <div class="faq__item__question__content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>

                <div class="faq__item__question">
                    <div class="faq__item__question__title">
                        <h3>How I can use JESK in my work life?</h3>
                        <img src="/static/media/lending/pod.svg" alt="pod">
                    </div>
                    <div class="faq__item__question__content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>

                <div class="faq__item__question">
                    <div class="faq__item__question__title">
                        <h3>How I can use JESK in my work life?</h3>
                        <img src="/static/media/lending/pod.svg" alt="pod">
                    </div>
                    <div class="faq__item__question__content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>

            </div>
            <div class="faq__item__right">

                <div class="faq__item__info">
                    <h3>YOUR PRODUCTIVITY NOW</h3>
                    <div class="faq__item__productivity">
                        <span class="faq__item__percent">500%</span>
                        <span class="faq__item__circle"></span>
                    </div>
                </div>

                <div class="faq__item__info">
                    <h3>YOUR PRODUCTIVITY BEFORE</h3>
                    <div class="faq__item__productivity">
                        <span class="faq__item__circle"></span>
                        <span class="faq__item__percent">40% </span>

                    </div>
                </div>

            </div>
        </div>

        <img src="/static/media/lending/faq_help.svg" alt="help" class="faq__help" />
        <img src="/static/media/lending/faq_back.png" alt="faq" class="faq__back" />

    </div>

    <div class="send__email" id="SendEmail" >
        <div class="send__email__back">
            <img src="/static/media/lending/form_back.png" alt="back" />
            <div class="send__email__back__filter"></div>
        </div>
        <div class="send__email__item">
            <form method="POST">
                <h2>Stay tuned for our updates!</h2>
                <p>Leave your email below</p>
               <div class="send__email__field">
                    {% csrf_token %}
                    <img src="/static/media/lending/form_icon_user.svg" alt="icon user" />
                    <input type="text"  name="email" required placeholder="Enter your email"  />
               </div>
               <div class="send__email__success">
                Your email has been saved successfully!
               </div>
               <button>send</button>
            </form>
        </div>
    </div>

    <div class="footer">
       <img src="/static/media/lending/footer_jesk.png" alt="jesk" class="footer__back" />
      <div class="footer__item">
        <div class="footer__top">
            <img src="/static/media/lending/footer_logo.svg" alt="footer__logo" />
            <img src="/static/media/lending/footer_mini_logo.svg" alt="footer__logo" />
        </div>
        <div class="footer__middle">

            <div class="footer__middle__left">
                <div class="footer__middle__left__top">
                    <h3>Order in the Head</h3>
                    <h3>Order the Workspace</h3>
                </div>
                <div class="footer__middle__left__bootom">
                    <a href="/terms-of-use">Terms of Service</a>
                    <a href="/privacy-police">Privacy Policy</a>
                    <a href="/cookies">Cookies</a>
                </div>
            </div>

            <div class="footer__middle__right">

                <div class="footer__middle__right__spec">
                    <h3>Platform</h3>
                    <div class="footer__middle__right__content">
                        <a href="">Plans and Pricing</a>
                        <a href="">Manager</a>
                    </div>
                </div>

                <div class="footer__middle__right__spec">
                    <h3>Company</h3>
                    <div class="footer__middle__right__content">
                        <a href="">Blog</a>
                        <a href="">Careers</a>
                        <a href="">News</a>
                    </div>
                </div>

                <div class="footer__middle__right__spec">
                    <h3>Our Contacts</h3>
                    <div class="footer__middle__right__content">
                        <a href="">jesk@gmail.com</a>
                        <a href="">@Jesk</a>
                    </div>
                </div>

                <div class="footer__middle__right__three">

                </div>

            </div>

        </div>

        <div class="footer__bottom">
            <span class="footer__bottom__left"></span>  
            <div class="footer__bottom__icons">
                <a href="">
                    <img src="/static/media/icons/instagram.svg" alt="instagram">
                </a>
                <a href="">
                    <img src="/static/media/icons/telegram.svg" alt="telegram">
                </a>
            </div>
            <span class="footer__bottom__right"></span>  
        </div> 

      </div>
    </div>

</div>
    
<script src="/static/js/lending/lending.js"></script>
<script src="/static/js/lending/sendData.js"></script>

{% endblock content %}
